/*navi background*/
.myColor-1 {
    color: #a7cc8f;
}
/*Main color*/
.myColor-2 {
    color: #688059;
}

.myColor-3 {
    color: #d7e6cf;
}

.myColor-4 {
    color: #85bf60;
}

.myColor-5 {
    color: #ad7998;
}

.myColor-6 {
    color: #80596f;
}

.myColor-7 {
    color: #e6cfdc;
}

.myColor-8 {
    color: #bf6097;
}

.myColor-9 {
    color: #cca28f;
}

.myColor-10 {
    color: #806559;
}

.myColor-11 {
    color: #e6d6cf;
}
/*navi foreground*/
.myColor-12 {
    /*color: #bf7d60;*/
    color: #5A3B5D;
}

.myColor-13 {
    color: #5d857c;
}

.myColor-14 {
    color: #598077;
}

.myColor-15 {
    color: #cfe6e0;
}

.myColor-16 {
    color: #60bfaa;
    color: #051f44;
    color: #2c6986;
}